*{
  font-family: sans-serif;
  box-sizing: border-box;
  margin:0
}

header{
    padding: 2rem;
    box-shadow:0 5px 10px #003262 ; /*traço decorativo por baixo do cabeçalho da pagina */
    position: sticky;/*Cabeçalho fica fixo aparece sempre mesmo que se faça scroll na pagina e tem fundo branco */
    top:0;
    left:0;
    background-color: #fff;
}
button{
    cursor: pointer;
}

/* separação dos elementos do cabeçalho*/
nav {display: flex;
     justify-content:space-between;
}

/* alinhamento dos elementos do cabeçalho*/
nav ul {
    display: flex;
    list-style:none;
}
/* separação dos links e letra a bold do cabeçalho*/
nav ul a {
    margin-left: 2rem;
    font-weight: bold;
}
/* cor principal dos elementos do cabeçalho*/
.nav-item {
    color: #003262;
    text-decoration: none;
}
/* Cor mais clara para sinalizar que existe link para clicar na pagina*/
.nav-item:hover {
     color:#5D8AA8;
}

/*altura minima defenida para altura disponivel da pagina a 100%*/
main {
    padding: 7rem;
    min-height: 100dvh;
}
.boxpagamento{
    color:white;
    background-color: rgba(0,0,0,0.8);
    padding:15px;
    border-radius:25px;
    width:25%;
    margin-left:40%;

}
fieldset {
    border:3px solid dodgerblue;
    border-radius:25px;
}
legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    background-color: dodgerblue;
    border-radius: 7px;
}
#botaofinalizar{
    padding: 0.7rem 1rem;
    display:flex;
    justify-content: center;
    border:3px solid dodgerblue;
    border-radius:10px;
    background-color:dodgerblue;
    color: #fff;
    font-weight: bold;
}
#botaofinalizar:hover{ background-color:#003262}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color:black;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#PoliticaPrivacidade{
    color: dodgerblue;
    text-decoration: none;
}
/*Defenições do rodapé, cor de fundo texto cor de letra espaçamento...*/
footer {
    background-color:#003262;
    padding: 1rem;
    color: #fff;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    box-shadow:0 -5px 10px #003262 ;
}
/*Alterar o icon da camara para branco e sem traço*/
footer a {
    text-decoration: none;
    color: #fff;
}

/* Alinhamento do conteudo da tabela */
td.right{
    text-align: right;
}
td.left{
    text-align: left;
}

body{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}