<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Dados</title>
     <!-- Icons materializecss.com -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Folha de estilo (main.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='actualizarclientes.css') }}">
</head>
<body>
    <!--Cabeçalho da página-->
    <header>
         <nav>
        <a href="http://127.0.0.1:5000" id="logo" class="nav-item"
        ><h1>Luxury Wheels&reg</h1></a> <!--Título que aparece no cabeçalho da página actualizar clientes -->
        <ul>
            <a class="nav-item" href="http://127.0.0.1:5000"><li>Homepage</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/carros"><li>Carros</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/motas"><li>Motas</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/veiculosGold"><li>Gold</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/veiculosSilver"><li>Silver</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/veiculosEconomicos"><li>Económicos</li></a>
        </ul>
        </nav>
    </header>
    <!--Inicio do formulário no corpo principal da página actualizar clientes, aqui é onde o cliente poderá proceder à
    actualização dos seus dados-->
    <main>
        <div class="boxactualizardados">
            <fieldset>
                <legend><b>Actualize os seus Dados</b></legend>
                    <form method="post" action="{{'actualizarclientes'}}">
                        <table>
                        <tr>
                            <td class="right"><label>Nome:</label></td>
                            <td class="left"><input type="text" name="nomeUtilizador" onkeyup="manage(this)" value="{{cliente_nome}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label> Apelido:</label></td>
                            <td class="left"><input type="text" name="apelidoUtilizador" onkeyup="manage(this)" value="{{cliente_apelido}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label>E-mail:</label></td>
                            <td class="left"><input id="mail" type="email" name="emailUtilizador" onkeyup="manage(this)" value="{{cliente_email}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label> Password:</label></td>
                            <td class="left"><input type="password" name="passwordUtilizador" onkeyup="manage(this)" value="{{cliente_password}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Contacto:</label></td>
                            <td class="left"><input type="tel" name="contactoUtilizador" onkeyup="manage(this)" value="{{cliente_contacto}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Data de Nascimento:</label></td>
                            <td class="left"><input type="date" name="nascimentoUtilizador" onkeyup="manage(this)" value="{{cliente_nascimento}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><h4>Sexo:</h4></td>
                            <td>
                                <select name="sexoUtilizador" value="{{cliente_sexo}}">
                                    <option value="feminino">Feminino</option>
                                    <option value="masculino">Masculino</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="right"><h4>Dados Carta de Condução</h4></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Nº Carta de Condução:</label></td>
                            <td class="left"><input type="number" name="numeroCartaConducao" onkeyup="manage(this)" value="{{cliente_cartaConducao}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Data de Emissão:</label></td>
                            <td class="left"><input type="date" name="emissaoCartaConducao" onkeyup="manage(this)" value="{{cliente_cartaConducaoEmissao}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Válido até:</label></td>
                            <td class="left"><input type="date" name="validadeCartaConducao" onkeyup="manage(this)" value="{{cliente_cartacConducaoValidade}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><h4>Dados Cartão de Cidadão</h4></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Nº Cartão de Cidadão:</label></td>
                            <td class="left"><input type="number" name="numeroCartaoCidadao" onkeyup="manage(this)" value="{{cliente_numeroCidadao}}"/></td>
                        </tr>
                            <tr>
                            <td class="right"><label>Válido até:</label></td>
                            <td class="left"><input type="date" name="validadeCartaoCidadao" onkeyup="manage(this)" value="{{cliente_cartaoCidadaoValidade}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><h4>Morada de Faturação:</h4></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Morada:</label></td>
                            <td class="left"><input type="text" name="moradaUtilizador" onkeyup="manage(this)" value="{{cliente_morada}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Cidade:</label></td>
                            <td class="left"><input type="text" name="cidadeUtilizador" onkeyup="manage(this)" value="{{cliente_cidade}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Código Postal:</label></td>
                            <td class="left"><input type="text" name="codigoPostalUtilizador" onkeyup="manage(this)" value="{{cliente_codigoPostal}}"/></td>
                        </tr>
                        <tr>
                            <td class="right"><h4>Escolha a sua categoria:</h4></td>
                            <td class="left">
                                <select name="categoria" value="{{cliente_categoria}}">
                                    <option value="Gold">Gold</option>
                                    <option value="Silver">Silver</option>
                                    <option value="Eco">Económico</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="right"><label>Categoria Gold:</label></td>
                            <td class="left"><p><b>600€/Dia</b></p></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Categoria Silver:</label></td>
                            <td class="left"><p><b>250€/Dia</b></p></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Categoria Económico:</label></td>
                            <td class="left"><p><b>50€/Dia</b></p></td>
                        </tr>
                </table>
                <br>
            <table>
                <tr>
                    <td align="center">
                        <button type="submit" class="botaoactualizarDados" name="Actualizar" value="act"><h4>Finalizar Actualização</h4></button>
                    </td>
                </tr>
            </table>
            </form>
            </fieldset>
        </div>
    </main>
    <!--Rodapé da página actualizar clientes esta parte é comum a todas as páginas-->
    <footer>
        <h3>Contacta-nos</h3>
        <p><i class="material-icons">location_on</i>&nbsp;Morada: Rua da Alegria nº21 3030-138</p>
        <p><i class="material-icons">mail</i>&nbsp;E-mail: luxurywheels@rentcar.pt</p>
        <p><i class="material-icons">phone</i>&nbsp;Telemóvel: 934 111 000</p>
        <a href="https://tokioschool.pt/"><i class="material-icons">camera_alt</i></a>
    </footer>
</body>
</html>