<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
     <!-- Icons materializecss.com -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Folha de estilo (main.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='carros.css') }}">
</head>
<body>
 <!--Cabeçalho-->
    <header>
        <nav>
        <a href="http://127.0.0.1:5000" id="logo" class="nav-item"
        ><h1>Luxury Wheels&reg</h1></a> <!--Título que aparece no cabeçalho da página -->
        <!-- Links de ligação às outras páginas do site-->
        <ul>
            <a class="nav-item" href="http://127.0.0.1:5000"><li>Homepage</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/login"><li>Login</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/login"><li>Registo</li></a>
            <a class="nav-item" href="{{url_for('minhaPagina')}}"><li>Minha Página</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/motas"><li>Motas</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/veiculosGold"><li>Gold</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/veiculosSilver"><li>Silver</li></a>
            <a class="nav-item" href="http://127.0.0.1:5000/veiculosEconomicos"><li>Económicos</li></a>
        </ul>
        </nav>
    </header>
<!--Corpo principal onde são mostradas as fotos dos modelos dos carros disponiveis para fazer o aluguer de todas as
categorias-->
 <main>
     <div class="boxcarros">
        <fieldset>
        <legend><b>Os nossos Carros</b></legend>
        <table class="center">
            <tr>
                <th class="titulo">Austin Martin DBS</th>
                <th class="titulo">Maseratti Ghibli S Q4 Zegna Edition</th>
                <th class="titulo">Lamborghini Huracan</th>
                <th class="titulo">Rolls Royce Black Badge</th>
                <th class="titulo">Ferrari Portofino</th>
            </tr>
            <tr>
                <td>
                    <img class="imagem" src="./static/austinmartinDBS.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/maseratiGhibliSQ4.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/lamborghini.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/RollsRoyceBlackBadge.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/FerrariPortofino.png" alt="Foto de um carro"/>
                </td>
            </tr>
            <tr>
                <td >
                    <p class="paragraph" >Categoria Gold: 600,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp Dois Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p> <!--&nbsp; atribui um espaço entre o icon e o texto -->
                </td>
                <td>
                    <p class="paragraph">Categoria Gold: 600,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Cinco Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Gold: 600,00€ ao dia</p><br>
                    <p><b>Mudanças sequênciais</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Dois Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Gold: 600,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Cinco Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Gold: 600,00€ ao dia</p><br>
                    <p><b>Mudanças sequênciais</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Dois Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c1"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c2"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c3"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c4"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c5"><h3>Reservar</h3></button></form>
                </td>
            </tr>
        </table>
         <br>
            <br>
         <table class="center">
            <tr>
                <th class="titulo">Mercedes AMG GT C Roadster</th>
                <th class="titulo">BMW Serie 7</th>
                <th class="titulo">Audi R8</th>
                <th class="titulo">Nissan GTR</th>
                <th class="titulo">Porsche Carrera 911</th>
            </tr>
            <tr>
                <td>
                    <img class="imagem" src="./static/MercedesAmgGTcRoadster.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/BMWserie7.png" alt="Foto de um carro"/>
                </td>
                <td align="center">
                    <img class="imagem" src="./static/r8.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/nissanGTR.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/porscheCarrera911.png" alt="Foto de um carro"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="paragraph">Categoria Silver: 250,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Dois Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Silver: 250,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Cinco Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Silver: 250,00€ ao dia</p><br>
                    <p><b>Mudanças sequênciais</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Dois Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Silver: 250,00€ ao dia</p><br>
                    <p><b>Mudanças sequênciais</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Quatro Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Silver: 250,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Quatro Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c6"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c7"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c8"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c9"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c10"><h3>Reservar</h3></button></form>
                </td>
            </tr>
        </table>
         <br>
            <br>
         <table class="center">
            <tr>
                <th class="titulo">Audi A1</th>
                <th class="titulo">BMW Serie 1</th>
                <th class="titulo">Mercedes Classe A</th>
                <th class="titulo">Mazda MX5</th>
                <th class="titulo">Honda E</th>
            </tr>
            <tr>
                <td>
                    <img class="imagem" src="./static/AudiA1.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/BMWserie1.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/mercedesClasseA.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/MazdaMX5.png" alt="Foto de um carro"/>
                </td>
                <td>
                    <img class="imagem" src="./static/HondaE.png" alt="Foto de um carro"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="paragraph">Categoria Economico: 50,00€ ao dia</p><br>
                    <p><b>Mudanças manuais</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Quatro Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Economico: 50,00€ ao dia</p><br>
                    <p><b>Mudanças manuais</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Cinco Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Economico: 50,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Cinco Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Economico: 50,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Dois Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Gasolina</p>
                </td>
                <td>
                    <p class="paragraph">Categoria Economico: 50,00€ ao dia</p><br>
                    <p><b>Mudanças automáticas</b></p>
                    <p><i class="tiny material-icons">person</i>&nbsp;Quatro Lugares</p>
                    <p><i class="tiny material-icons"> local_gas_station</i>&nbsp;Elétrico</p>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c11"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c12"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c13"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c14"><h3>Reservar</h3></button></form>
                </td>
                <td>
                    <form action="{{ url_for('carros')}}" method="post"><button type="submit" class="botaocarro" name="reservarCarro" value="c15"><h3>Reservar</h3></button></form>
                </td>
            </tr>
        </table>
        </fieldset>
     </div>
 </main>
 <!--Rodapé da página carros esta parte é comum a todas as páginas-->
 <footer>
     <h3>Contacta-nos</h3>
     <p><i class="material-icons">location_on</i>&nbsp;Morada: Rua da Alegria nº21 3030-138</p>
     <p><i class="material-icons">mail</i>&nbsp;E-mail: luxurywheels@rentcar.pt</p>
     <p><i class="material-icons">phone</i>&nbsp;Telemóvel: 934 111 000</p>
     <a href="https://tokioschool.pt/"><i class="material-icons">camera_alt</i></a>
 </footer>
</body>
</html>